# Ignorar archivos con extensión .log
*.log

# Ignorar archivos con extensión .tmp
*.tmp

# Ignorar el directorio llamado "temp"
/temp/

# Ignorar todos los archivos en un directorio llamado "cache"
/cache/*

# Ignorar archivos generados por el sistema operativo
.DS_Store

# Ignorar archivos de configuración específicos
config.ini


